.Hero {
  top: 0%;
  position: absolute;
  left: 0%;
    text-align: center;
    display: block;
    align-items: center;
    background-color:#010219;
    color: white;
    font-family: poppins;
   height: 130%;
  }
  img{
    width: 80%;
    max-height: 100%;
   
  }
  .background {
    position: relative;
    top: 0;
    left: 0;
  }
  .back {
    position: relative;
    top: 0;
    left: 0;
    
  }
  .group {
    position: absolute;
    top: 70%;
    left: 10%;
   
  }
  .navhero {
   
   display: inline;
    position:absolute;
    top: 0%;
    width: 100%;
    height: 8%;
    left: 0%;
   
    
  }
  #logohero{
    width: 7%;
    top: 10%;
    left: 12%;
    
    position: absolute;
    
  
  }
  .sign{
    background: linear-gradient(45deg, #234693,#40B8C9);
    font-weight: 600;
    color:white;
    padding-top: 3%;
  
    text-align: center;
    width: 40%;
    padding-bottom: 3%;
    cursor: pointer;
    z-index: 10;
    padding-left: 6%;
    padding-right: 6%;
   border-radius: 18px;
    cursor: pointer;
  }
  .light{
    position: absolute;
   
    right: 0%;
    width: 100%;
    z-index: 12;
    
   rotate: -2deg;
  
  }
  
  .navhero ul {
    
    margin-right: 10%;
  }
  .navhero ul li {
   
    display: inline;
    padding: 2%;
    
  }
 
  .navhero ul li a {
    
    display: inline;
    padding: 3%;
    color: white;
    text-decoration: none;
    
  }
  
  .navhero ul {
   padding-left: 30%;
  
  }
  .texthero{
    position: absolute;
    right:11%;
    top:16%;
    font-size:xx-large;
    text-align: left;
    max-width: 28%;
    line-height: 70%;
  }
  
  .texthero p{
    font-size: 80%;
    font-weight: 600;
    line-height: 100%;
    
  }
  
  
  #googlesign{
    position: absolute;
    top: 10%;
    right: 20%;
  }
  .googlesign{
    height: 10%;
    display: inline;
    background-color: white;
    font-weight: 600;
    color:black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
   border-radius: 18px;
    cursor: pointer;
  }
  
  .logo{
    position: absolute;
    top: 2%;
    left:15%;
  font-size: larger;
  font-weight: 700;
   
  }
  
  .texting{
   min-height: 100%;
    position:relative;
    background-color:#010219;
    top: -20px;
    padding-top: 6%;
    padding-left: 0%;
    color: white;
    text-align: left;
    margin-left: 0%;
    margin-bottom: 0%  !important;
  }
  .rapper{
    max-height: 80%;
    display: flex;
    justify-content: flex-start;
 
    
  }
  .raper{
    max-height: 80%;
    display: flex;
   padding-left: 20%;
   padding-top: 0%;
    justify-content: flex-start;
   
  }
  .contactus{
    
    margin-top: 8%;
    display: flex;
    margin-left: 20%;
    padding-bottom: 5%;
  }
  .textcontactus{
    max-width: 29%;
    margin-left: 20%;
  }
  .textcontactus2{
    max-width: 29%;
    margin-right: 15%;
  }
  .text{
    margin-left: 0%;
    max-width: 30%;
    margin-right: 13%;
  }
  #para{
    margin-top: 15%;
    font-size:large;
    line-height: 115%;
    left: 0%;
    max-width: 80%;

  }
  .text h1{
    font-size: xx-large;
    left: 0%;
  }
  #deal{
    max-width: 25%;
    margin-left: 0%;
  }
  
  
  .last {
    position: relative;
    
    top: 0;
    left: 0;
    
  }
  .but {
    position: relative;
    bottom: 50%;
    left: 10%;
    
  }
  .kws {
    position: absolute;
    top: -1%;
    left: 10%;
   
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  