.Home{
    background-color: #F8F6F6;
    align-items: center;
    display:flex;
    position:absolute;
    top: 0%;
    left: 0%;
    justify-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.homebody{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    font-family: Poppins;
    
}
.shopcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 22%;
    background-color: #F8F6F6;
    width: 78%;
    height: auto;
   
}
.acceuil{
    
    justify-items: center;
    max-width: 60%;
    position: absolute;
    top: 10%;
    right: 10%;
   
}
#recherche{
    width: 28%;
    height: 50px;
    border: 0ch;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    left: 34%;
    top: 50%;
    position: absolute;
    box-sizing: border-box;
    padding-left: 2%;
}
#bar{
    position: absolute;
    width: 70%;
    right: 6%;
    top: 70%;
}
#result{

    width: 15%;
    top: 50%;
    left: 50%;

}