.topbar {
    display: flex;
    align-items: center;
    height: 50px;
  
    top: 0px;
    position: fixed;
    width: 80%;
    right: 0%;
    background-color:#F8F6F6;
    justify-content: flex-end;
    padding-right: 2%;
    font-family: Poppins;
    font-weight: 600;
    font-size: small;
  }
  
  .topbar a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
  }
  .toptop{
    position: absolute;
    z-index: 2;
  }